.login-form-container {
  max-width: 450px;
  margin: 0px auto;
  padding: 20px;
  text-align: center;
    
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
  }
  
  .login-form input {
    padding: 10px;
    font-size: 1rem;
  }
  
  .login-form button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .signup-link {
    margin-top: 40px;
    font-size: 0.9rem;
  }
  

  h2{
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 0;
  }

  .logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .login-box {
    margin-top: 90px;
    width: 100%;  
    max-width: 700px;   
    padding: 100px;
    background-color: white;
    border: 2px solid black;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .login-form input {
    padding: 16px;
    font-size: 1.2rem;
    background-color: #fefefe; /* subtle white box */
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
  }
  